<div class={{ children["#storageName"] }}></div>

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css">

<style>
.MyDataLabelTooltip {
    position: relative !important;
    z-index: 50 !important;
    border-radius: 5px !important;
    background-color: rgba(0,0,0,0.5);
    padding: 5px !important;
    font-size: 0.8em !important;
    text-align: center;
}

.datetext {
    font-weight: 400 !important; 
    text-transform: lowercase;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

#play-controls {
    text-align: center;
    width: 100%;
    padding: 5px 0 1em 0;
}
#play-controls * {
    display: inline-block;
    vertical-align: middle;
}
#play-pause-button {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}
#play-range {
    margin: 2.5%;
    width: 70%;
}
#play-output {
    font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

</style>
<!-- Convert data to JSON to be used in JS file -->
<script>

if(!pxDatas)
    var pxDatas = [];

pxDatas.push(
{
    id : '{{ children["#id"] | raw }}',
    storageName : '{{ children["#storageName"] | raw }}',
    title : '{{ children["#title"] | raw }}',
    subtitle : '{{ children["#subtitle"] | raw }}',
    yAxisName : '{{ children["#yAxisName"] | raw }}',
    comment : '{{ children["#comment"] | raw }}',
    displayType : {{ children["#displayType"] | raw }},
    displayMode : {{ children["#displayMode"] | raw }},
    savedResultUrl : '{{ children["#savedResultUrl"] | raw }}',
    savedResultText : {{ children["#savedResultText"] | default('{}') | raw }},
    seriesNames : '{{ children["#seriesNames"] | raw }}',
    seriesColor : '{{ children["#seriesColor"] | raw }}',
    seriesType : '{{ children["#seriesType"] | raw }}',
    seriesSign : '{{ children["#seriesSign"] | raw }}',
    legendsVisibility: '{{ children["#legendsVisibility"] | raw }}',
    displayOptions : {{ children["#displayOptions"] | default('{}') | raw  }},
    sortDirection : {{ children["#sortDirection"] | raw  | default(0)}},
    animate : {{ children["#animate"] | raw  | default(0)}}
});
</script>

{% if children["#comment"] is not empty %}
    <p><strong>viðm.:</strong> {{ children["#comment"] }}</p>    
{% endif %}