<div class={{ children["#storageName"] }}></div>

<style>
.MyDataLabelTooltip {
    position: relative !important;
    z-index: 50 !important;
    border-radius: 5px !important;
    background-color: rgba(0,0,0,0.5);
    padding: 5px !important;
    font-size: 0.8em !important;
    text-align: center;
}

.datetext {
    font-weight: 400 !important; 
    text-transform: lowercase;
}
</style>
<!-- Convert data to JSON to be used in JS file -->
<script>

if(!pxDatas)
    var pxDatas = [];

pxDatas.push(
{
    id : '{{ children["#id"] | raw }}',
    storageName : '{{ children["#storageName"] | raw }}',
    title : '{{ children["#title"] | raw }}',
    subtitle : '{{ children["#subtitle"] | raw }}',
    yAxisName : '{{ children["#yAxisName"] | raw }}',
    comment : '{{ children["#comment"] | raw }}',
    displayType : {{ children["#displayType"] | raw }},
    displayMode : {{ children["#displayMode"] | raw }},
    savedResultUrl : '{{ children["#savedResultUrl"] | raw }}',
    savedResultText : {{ children["#savedResultText"] | default('{}') | raw }},
    seriesNames : '{{ children["#seriesNames"] | raw }}',
    seriesColor : '{{ children["#seriesColor"] | raw }}',
    seriesType : '{{ children["#seriesType"] | raw }}',
    legendsVisibility: '{{ children["#legendsVisibility"] | raw }}',
    displayOptions : {{ children["#displayOptions"] | default('{}') | raw  }},
    sortDirection : {{ children["#sortDirection"] | raw  | default(0)}},
});
</script>

{% if children["#comment"] is not empty %}
    <p><strong>viðm.:</strong> {{ children["#comment"] }}</p>    
{% endif %}